$primary-color: #F3C000;
$secondary-light-color: #23baa8;
$secondary-color: #249386;
$secondary-dark-color: #156361;
$primary-text-color: #ccc;
$secondary-text-color: #eee;
$tablet-size-breakpoint: 989px;
$mobile-size-breakpoint: 812px;
